# Hass defaults
.cloud
.HA_VERSION
.storage
groups.yaml
scenes.yaml
scripts.yaml
secrets.yaml
home-assistant_v2.*
*.log

/blueprints/
/www/images/

# Integration / Add-on specific
/custom_components/
/node-red/
/tts/
/www/community/
/www/images/
/www/nest_hello/

.ps4-*.*.json
google_assistant.service_account.json
harmony_*.conf
known_devices.yaml
zigbee2mqtt

# Nolu specific
nolu/custom/includes/automations/
nolu/custom/includes/config/groups/
nolu/custom/includes/config/climates/
nolu/custom/includes/config/device_trackers/
nolu/custom/includes/config/notifiers/
nolu/custom/includes/config/vendors/
nolu/custom/packages/

# Sensors
nolu/custom/includes/sensors/
nolu/custom/includes/switches/
nolu/custom/includes/templates/

# Should not be ignored
!example_sensors.binary.yaml
!entity_counters.*.yaml
!system_monitor.integration.yaml
!time_date.integration.yaml

# Misc
/backup_*
