# Hass defaults
.cloud
.HA_VERSION
.storage
groups.yaml
scenes.yaml
scripts.yaml
secrets.yaml
home-assistant_v2.*
*.log

/blueprints/
/www/images/

# Integration / Add-on specific
known_devices.yaml
harmony_*.conf
zigbee2mqtt

/custom_components/
/node-red/
/tts/
/www/community/